<a class="pokemon">
  <section class="pokemon__status">
    <h2>NOME</h2>

    <ul>
      <li> TIPO 1 </li>
      <li> TIPO 2 </li>
    </ul>
  </section>

  <section class="pokemon__image">
    <img src="assets/pokemon.png" alt="NOME DO POKEMON" />
  </section>
</a>

<a class="pokemon">
  <section class="pokemon__status">
    <h2>NOME</h2>

    <ul>
      <li> TIPO 1 </li>
      <li> TIPO 2 </li>
    </ul>
  </section>

  <section class="pokemon__image">
    <img src="assets/pokemon.png" alt="NOME DO POKEMON" />
  </section>
</a>