@import '../../../config-scss/rem-calc.scss';

:host {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem-calc(40) 0;
    position: relative;

    > a {
      position: absolute;
      transform: translateX(calc(-1 * rem-calc(125)));
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem-calc(27);
        font-weight: 700;
        cursor: pointer;
        background-color: var(--transparent-color);
        color: var(--white);
        padding: rem-calc(12);
        border-radius: 50%;
        width: rem-calc(32);
        height: rem-calc(32);
      }
    }
  }
}
